asgiref==3.7.2
Django==5.0.3
django-ckeditor==6.7.1
django-filter==24.1
django-js-asset==2.2.0
djangorestframework==3.14.0
drf-yasg==1.21.7
inflection==0.5.1
Markdown==3.5.2
packaging==24.0
pillow==10.2.0
PyMySQL==1.1.0
pytz==2024.1
PyYAML==6.0.1
sqlparse==0.4.4
tzdata==2024.1
uritemplate==4.1.1
